body{
	font: all;
}
#container{
	width:1050px;
	border:1px solid grey;
	margin:0 auto;
}
#brand{
	float:left;
	color:blue;
}

#header{
	height:100px;
	padding:10px 0;
}

h1 .a{
	font-size:50px;
	font-weight:100;
	font-color:#861BBF;
	text-decoration: none;
}

#searchBox{
	float:right; 
	background-color:green ;
	height:50px;
	width:400px;
	padding:20px 20px 0 20px;
	margin-top:20px;

}
.clear{
	clear:both ;
}
.text{
	float:left;
	width:200px;
	padding:5px;
	font-size:15px;
	color:orange;
	background:white url(index.jpg) right center no-repeat;
}
.submit{
	float:right;
	padding:5px;
	font-weight:bold;
	color:white;
	background:purple;
	font-size:15px ;
}
#menu{
	height:70px;
	background:yellow;
	padding:7px 0;
}
ul {
	list-style:none;
}
#menu ul li:last-child{
	border-right:none;
}
#menu ul li{
	float:left;
	padding:0 30px;
	height:30px;
	border-right:1px solid black;
}
#menu ul li a{
	text-decoration:none;
	text-transform:uppercase;
	font-size:17px;
	color:red;
	line-height:30px;
	transition: font-size 0.3s ease;
	-webkit-transition: font-size 0.3s ease;
	-moz-transition: font-size 0.3s ease;
	-o-transition: font-size 0.3s ease;
	-ms- transition: font-size 0.3s ease;
}
#menu ul li a:hover,#menu ul li a.active{
	font-size:20px;
	font-weight:bold;
	color:red;
}
#introduction{
	background:linear-gradient(#E5F2BB,#B7E952);
	padding:30px;
	margin:16px 0;
}
#introduction h3{
	font-size:45px;
	color:#316901;
	font-weight:normal;
}
#introduction p{
	font-size:25px;
	color:#628F19;
	text-alignment:justify;
}
.sidebar{
	height:500px;
	width:400px;
	border:1px solid blue;
	border-radius:20px;
	padding:10px 30px;
}
.sidebar ul{
	padding-top:8px;
}
.sidebar h3{
	color:purple;
	font-size:30px;
}
#leftsidebar ul li{
	padding-bottom:6px;
	/*list-style-image:url(arrow.png);*/
	padding-left:10px;
}
#leftsidebar ul{
	padding-top:8px;
}
.sidebar ul li a:hover,.sidebar ul li a.active{
	text-decoration: none;
	color:red;
	font-size:20px;
	font-weight: bold;
}
.sidebar ul li a{
	text-decoration: none;
	font-size:22px;
	color:blue;
	transition: font-size 0.3s ease;
	-webkit-transition: font-size 0.3s ease;
	-moz-transition: font-size 0.3s ease;
	-o-transition: font-size 0.3s ease;
	-ms- transition: font-size 0.3s ease;
}
#leftsidebar{
	float:left;
}
#rightsidebar{
	float:right;
}
#rightsidebar ul li{
	padding-bottom:6px;
	padding-left:30px;
	padding-top:10px;

}
.footer{
	height:60px;
	background: linear-gradient(#F6F390, #D5D533);
	padding:10px 30px;
	margin-top:10px;

}
