#container{
	width:1050px;
	border:1px solid grey;
	margin:0 auto;
}
h1 a{
	font-size: 50px;
	color:blue;
	text-decoration: none;
}
#header{
	height:100px;
	padding:10px 0;
}
#brand{
	float:left;
}
#searchBox{
	float:right;
	background-color: pink;
	width:400px;
	height:50px;
	padding:20px 20px 0 20px;
	margin-top:20px;
}
.text{
	float:left;
	width:200px;
	padding:5px;
	font-size:15px;
	color:orange;
	background:white url(index.jpg) right center no-repeat;
}
.submit{
	float:right;
	background: blue;
	font-weight:bold;
	padding:5px;
	color:white;
	font-size:15px;
}
.clear{
	clear:both;
}
ul{
	list-style:none;
}
#menu{
	height:70px;
	background: yellow;
	padding:7px;
}
#menu ul li:last-child{
	border-right:none;
}
#menu ul li{
	float:left;
	padding:0px 27px; 
	height:30px;
	border-right:1px solid blue;
}
#menu ul li a{
	text-decoration: none;
	text-transform:uppercase;
	font-size:17px;
	color:blue;
	line-height:30px;
}
#menu ul li a:hover, #menu ul li a.active{
	font-size:20px;
	font-weight:bold;
	color:red;
}